<!--input-form-->
@model AutoAncillariesLimited.Models.View_Models.ProductViewModel
<div class="panel panel-default" id="action-product-form" style="border: 1px solid #30a5ff;">
  <div class="panel-heading">
    Category Add New
    <button id="btn-product-insert-form-close" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-remove" style="margin: 0"></span>
    </button>
  </div>
  @using (Ajax.BeginForm("ProductUpdate", "Product", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "error", OnComplete = "done" }, new { id = "product-update-form", returnUrl = Request.Url?.ToString() }))
  {
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-9">
          <div class="form-group">
            <label>Product name: </label>
            @Html.HiddenFor(model => model.Product.Id)
            @Html.TextBoxFor(model => model.Product.Name, new { @class = "form-control", placeholder = "Enter product name..." })
            @Html.ValidationMessageFor(model => model.Product.Name)
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label>Categories:</label>
                @Html.DropDownListFor(model => model.Product.CategoryId, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>File input</label>
                <input style="margin-top: 5px;" type="file">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>Price: </label>
            @Html.TextBoxFor(model => model.Product.Price, new { @class = "form-control", type = "number", min = "0", value = "0" })
            @Html.ValidationMessageFor(model => model.Product.Price)
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0">
        <div class="form-group">
          <label>Text area</label>
          @Html.TextAreaFor(model => model.Product.Description, new { @class = "form-control", placeholder = "Descript this product..." })
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <input id="btn-product-submit" type="submit" value="&nbsp;Save&nbsp;" class="btn btn-primary" />
    </div>
  }
</div>
<!--/input-form-->
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
  var validator;
  $(document).ready(function() {
    $("#btn-product-insert-form-close").click(btnProductFormCloseEvent);
    $.validator.addMethod(
      "regex",
      function (value, element, regexp) {
        return this.optional(element) || regexp.test(value);
      },
      "Please check your input."
    );
    validator = $("#product-update-form").validate({
      rules: {
        "Product.Name": {
          required: true,
          minlength: 6,
          maxlength: 100
        }
      },
      messages: {
        "Product.Name": {
          minlength: "Product name is too short!",
          maxlength: "Product name is too long!"
        }
      }
    });
  });
</script>

