@{
  ViewBag.Title = "Product Management";
  Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row" id="area-product-form" style="position: fixed; z-index: 2; left: 35%"></div>
<div class="row" id="area-product-list">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="col-lg-1 pull-left">
        <button class="btn btn-primary" id="btn-product-add-form-open">
          <span class="glyphicon-plus glyphicon no-margin"></span>
        </button>
      </div>
      <div class="col-lg-3 pull-right">
        <select id="cmb-warehouse-id" class="form-control" style="margin-top: 5px;">
          <option value="-1">All warehouses</option>
          @if (ViewBag.Warehouses.Count > 0)
          {
            foreach (var warehouse in ViewBag.Warehouses)
            {
              <option value="@warehouse.Id">
                @warehouse.Name
              </option>
            }
          }
        </select>
      </div>
      <div class="col-lg-3 pull-right">
        <select id="cmb-category-id" class="form-control" style="margin-top: 5px;">
          <option value="-1">All categories</option>
          @if (ViewBag.Categories.Count > 0)
          {
            foreach (var category in ViewBag.Categories)
            {
              <option value="@category.Id">
                @category.Name
              </option>
            }
          }
        </select>
      </div>
      <div class="col-lg-3 pull-right">
        <select id="cmb-supplier-id" class="form-control" style="margin-top: 5px;">
          <option value="-1">All suppliers</option>
          @if (ViewBag.Suppliers.Count > 0)
          {
            foreach (var supplier in ViewBag.Suppliers)
            {
              <option value="@supplier.Id">
                @supplier.Name
              </option>
            }
          }
        </select>
      </div>
      <div class="col-lg-2 radio-inline pull-right">
        <input type="checkbox" checked="checked" id="radio-product-active"/> Active
      </div>
    </div>
    <div class="panel-body">
      <table id="products-table" class="table table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Product name</th>
            <th>Inventory</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

@section scripts
{
  <script src="~/Scripts/pages/product-management.js"></script>
}
