<div class="panel panel-default" id="action-product-form" style="border: 1px solid #30a5ff;">
  <div class="panel-heading">
    Category Add New
    <button id="btn-import-bill-insert-form-close" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-remove" style="margin: 0"></span>
    </button>
  </div>
  @using (Html.BeginForm("ImportBillInsert", "ImportBill", FormMethod.Post))
  {
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label>Supplier</label>
            <select name="supplierId" class="form-control">
              @foreach (var supplier in ViewBag.Suppliers)
              {
                <option value="@supplier.Id">@supplier.Name</option>
              }
            </select>
          </div>

        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>Create By:</label>
            <input class="form-control" type="text" readonly="readonly" value="@Session["username"]" />
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label>Create At:</label>
            <input class="form-control" type="text" readonly="readonly" value="@(DateTime.Now.ToShortDateString())" />
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1">
          <div class="form-group">
            <input style="margin-top: 25px;" type="button" class="btn btn-primary pull-right" value="Add detail" id="btn-import-bill-row-add" />
          </div>
        </div>
      </div>
      <div class="row">
        <table class="table" id="table-import-bill-create">
          <tr>
            <th></th>
            <th>Warehouse</th>
            <th class="col-lg-8">Product details</th>
          </tr>
          <tr class="hidden">
            <td class="text-center">
              <div class="btn btn-default btn-import-bill-remove-row">
                <span class="glyphicon glyphicon-remove" />
              </div>
            </td>
            <td>
              <div class="col-lg-9">
                <select name="warehouseId" class="form-control">
                  @foreach (var warehouse in ViewBag.Warehouses)
                  {
                    <option value="@warehouse.Id">@warehouse.Name</option>
                  }
                </select>
              </div>
              <div class="col-lg-3">
                <div class="btn btn-primary btn-import-bill-add-product">
                  <span class="glyphicon-plus glyphicon" />
                </div>
              </div>
            </td>
            <td>
              <table class="table table-import-bill-product">
                <tr>
                  <th class="col-lg-1"></th>
                  <th class="col-lg-1 text-center">No.</th>
                  <th class="col-lg-6">Product</th>
                  <th class="col-lg-2 text-center">Quantity</th>
                  <th class="col-lg-2 text-center">Price</th>
                </tr>
                <tr class="hidden">
                  <td class="text-center">
                    <div class="btn btn-default btn-import-bill-remove-product">
                      <span class="glyphicon glyphicon-remove" />
                    </div>
                  </td>
                  <td class="text-center">1</td>
                  <td>
                    <select class="form-control product-select">
                      @foreach (var product in ViewBag.Products)
                      {
                        <option value="@product.Id">@product.Name</option>
                      }
                    </select>
                  </td>
                  <td>
                    <input type="number" value="0" min="0" class="form-control product-quantity" name="quantity" />
                  </td>
                  <td>
                    <input value="0" min="0" class="form-control product-price" name="price" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel-footer row" style="margin: 0">
      <button type="submit" class="btn btn-primary pull-right">
        Create Bill
      </button>
    </div>
  }
</div>

<!--/input-form-->
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/pages/import-bill-insert-form.js"></script>
