@{
  ViewBag.Title = "Import Bill Management";
  Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="import-bill-insert-form" class="col-lg-9"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Import Bill Management
        <button class="btn btn-primary pull-right" id="btn-import-bill-insert-form-open">
          <span class="glyphicon glyphicon-plus" style="margin: 0"></span>
        </button>
      </div>
      <div class="panel-body table-responsive">
        <table id="table-import-bills" class="table table-striped table-hover display nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>Create Date</th>
              <th>Employee</th>
              <th>Supplier</th>
              <th>Total price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @if (ViewBag.ImportBills.Count > 0)
            {
              foreach (var importBill in ViewBag.ImportBills)
              {
                <tr>
                  <td>@importBill.Id</td>
                  <td>@importBill.CreateDate.ToShortDateString()</td>
                  <td>@importBill.Employee</td>
                  <td>@importBill.Supplier</td>
                  <td>@importBill.TotalPrice</td>
                  <td>
                    <button class="btn btn-info">
                      More
                    </button>
                  </td>
                </tr>
              }
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div><!--/.row-->
@section scripts
{
  <script src="~/Scripts/pages/import-bill-management.js"></script>
  <script>
    $.ajax({
      url: "/ImportBill/ImportBillInsertForm",
      success: function(data) {
        $("#import-bill-insert-form").html(data);
      }
    });
//    $("#import-bill-insert-form").hide();
//    $("#btn-import-bill-insert-form-open").click(function () {
//      $.ajax({
//        url: "/ImportBill/ImportBillInsertForm",
//        success: function (data) {
//          $("#import-bill-insert-form").html(data);
//        }
//      }).done(function () {
//        $("#import-bill-insert-form").slideDown(500);
//        $("#btn-import-bill-insert-form-open").hide();
//      });
//    });
//    function done() {
//      $("#product-insert-form")[0].reset();
//      validator.resetForm();
//    }
  </script>
}

<style>
  #import-bill-insert-form {
    z-index: 2;
    position: fixed;
    left: 20%;
  }
</style>
