@model AutoAncillariesLimited.Models.Employee
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@if (TempData["alertChangedProfile"] != null)
{
    @Html.Raw("<script>swal('" + TempData["alertChangedProfile"] + "', 'You clicked the button!', 'success')</script>");
}
<h2>My Profile</h2>
<div class="row">
    <div class="col-md-6" id="div_myProfle">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Profile</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <div class="classProfile">@Model.Username</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Name</label>
                        <div class="classProfile">@Model.Name</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Address</label>
                        <div class="classProfile">@Model.Address</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Email</label>
                        <div class="classProfile">@Model.Email</div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Phone</label>
                        <div class="classProfile">@Model.Phone</div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="button" class="btn btn-primary" value="Change Profile" id="btn_formConfirmPassword">
                </div>
            </div>
        </div>

    </div>

    <!--From Input Password-->
    <div class="col-md-6" id="div_formConfirmPassword" style="display: none">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Confirm Password</h3>
            </div>
            @using (Ajax.BeginForm("InputPassword", "Employee", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "errorInput" }, new { @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputEmail3" name="inputPassword" placeholder="Password" type="password">
                            <input name="inputUsername" type="hidden" value="@Model.Username">
                            <div id="errorInput"></div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default" id="cancelPassword">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Sign in</button>
                </div>
            }
        </div>
    </div>
    @Html.Partial("ChangeProfile",Model)
</div>

<script>
    $(document).ready(function() {
        $.validator.unobtrusive.parse('myProfile');
    });
</script>
@section scripts{
    <script src="~/Scripts/pages/my-profile.js"></script>
}
<style>
    .classProfile {
        margin-left: 10px;
    }

    #errorInput {
        color: crimson;
        padding-top: 5px;
    }

    label.error {
        color: red;
        padding-top: 5px;
    }
    span.field-validation-error {
        color: red;
    }

    label.control-label {
        width: 165px;
    }

    div.form-profile {
        width: 69%;
    }
</style>

